<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eve killmail crawler</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>30 most killed ships</h1>
<table>
    <tr>
        <th>Ship</th>
        <th>Total</th>
        <th>Jita price</th>
        <th>Sell price</th>
    </tr>
{{range .LostShips}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Total}}</td>
        <td>{{printf "%.2f" .PriceJita}}</td>
        <td>{{printf "%.2f" .PriceSell}}</td>
    </tr>
{{end}}
</table>
<hr>

<h1>100 most lost modules</h1>
<table>
    <tr>
        <th>Item</th>
        <th>Total</th>
        <th>Jita price</th>
        <th>Sell price</th>
    </tr>
{{range .LostModules}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Total}}</td>
        <td>{{printf "%.2f" .PriceJita}}</td>
        <td>{{printf "%.2f" .PriceSell}}</td>
    </tr>
{{end}}
</table>
<hr>

<h1>30 most lost charges</h1>
<table>
    <tr>
        <th>Item</th>
        <th>Total</th>
        <th>Jita price</th>
        <th>Sell price</th>
    </tr>
{{range .LostCharges}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Total}}</td>
        <td>{{printf "%.2f" .PriceJita}}</td>
        <td>{{printf "%.2f" .PriceSell}}</td>
    </tr>
{{end}}
</table>
<hr>

<h1>30 highest KILLING ships</h1>
<table>
    <tr>
        <th>Item</th>
        <th>Total</th>
        <th>Jita price</th>
        <th>Sell price</th>
    </tr>
{{range .KillerShips}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Total}}</td>
        <td>{{printf "%.2f" .PriceJita}}</td>
        <td>{{printf "%.2f" .PriceSell}}</td>
    </tr>
{{end}}
</table>
<hr>
</body>
</html>